<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!-- Mobile Menu start -->
<div class="mobile-menu-area" th:fragment="mobailbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a th:href="@{/}">Dashboard</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#demo" href="#">Role <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="demo" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/role/add}">Add Role</a>
                                    </li>
                                    <li><a th:href="@{/role/list}">Role List</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#others" href="#">User<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="others" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/user/add}">Add User</a>
                                    </li>
                                    <li><a th:href="@{/user/list}">User List</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Package <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/package/add}">Add Package</a>
                                    </li>
                                    <li><a th:href="@{/package/list}">Package List</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Groupleader <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Chartsmob" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/groupleader/add}">Add Groupleader</a>
                                    </li>
                                    <li><a th:href="@{/groupleader/list}">Groupleader List</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Pilgrim <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Tablesmob" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/pilgrim/add}">Add Package</a>
                                    </li>
                                    <li><a th:href="@{/pilgrim/list}">Package List</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#formsmob" href="#">Passport Info <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="formsmob" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/passportinfo/add}">Add Passport Info</a>
                                    </li>
                                    <li><a th:href="@{/passportinfo/list}">Passport Info List</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">Visa Info <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/visainfo/add}">Add Visa Info</a>
                                    </li>
                                    <li><a th:href="@{/visainfo/list}">Visa Info List</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Ticket & Flight Info <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Pagemob" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/ticketflightinfo/add}">Add TicketFlight Info</a>
                                    </li>
                                    <li><a th:href="@{/ticketflightinfo/list}">TicketFlight Info List</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Income" href="#">Income <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Income" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/achead/add}">Add Account Head</a>
                                    </li>
                                    <li><a th:href="@{/income/add}">Add Income</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Summary" href="#">Summary <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Summary" class="collapse dropdown-header-top">
                                    <li><a th:href="@{/pilgrim/summary}">Pilgrim Summary</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu end income-->
</body>
</html>