<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Income Add|HAMS</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="basic-form-area mg-tb-15">

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="sparkline12-list">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1>Add Income : </h1>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="all-form-element-inner">
                                        <span style="color: green" th:class="succes" th:text="${successMsg}"></span>
                                        <span th:class="err" th:text="${rejectMsg}"></span>
                                        <form th:object="${income}" th:action="@{/income/add}" th:method="POST">
                                            <div class="form-group row">
                                                <label for="pilgrim" class="col-sm-3 col-form-label form-label">Pilgrim No</label>
                                                <div class="col-sm-9">
                                                    <select th:field="*{pilgrim}"  id="pilgrim" class="form-control js-choice-remove">
                                                        <option th:each="pp : ${pilgrimlist}"
                                                                th:value="${pp.id}">
                                                            <span th:text="${pp.pilgrimNumber}"></span>
                                                            (<span th:text="${pp.name}"></span>)
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="ppackage" class="col-sm-3 col-form-label form-label">Package</label>
                                                <div class="col-sm-9">
                                                    <select th:field="*{ppackage}"  id="ppackage" class="form-control js-choice-remove">
                                                        <option th:each="pp : ${packagelist}"
                                                                th:value="${pp.id}">
                                                            <span th:text="${pp.name}"></span>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!--<div class="form-group row">
                                                <label for="group" class="col-sm-3 col-form-label form-label">Groupleader</label>
                                                <div class="col-sm-9">
                                                    <select th:field="*{groupleaders}"  id="group" class="form-control js-choice-remove">
                                                        <option th:each="g : ${grouplist}"
                                                                th:value="${g.id}">
                                                            <span th:text="${g.leaderName}"></span>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>-->

                                            <div class="form-group row">
                                                <label for="accountHeads" class="col-sm-3 col-form-label form-label">Account Head</label>
                                                <div class="col-sm-9">
                                                    <select th:field="*{accountHeads}"  id="accountHeads" class="form-control js-choice-remove">
                                                        <option th:each="g : ${accountheadlist}"
                                                                th:value="${g.id}">
                                                            <span th:text="${g.accountname}"></span>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>



                                            <div class="form-group row">
                                                <label for="pilgrimNumber" class="col-sm-3 col-form-label form-label">Title</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{accountTitle}" id="pilgrimNumber"
                                                           placeholder="Title">
                                                </div>
                                            </div>

                                             <div class="form-group row">
                                                 <label for="due" class="col-sm-3 col-form-label form-label">Amount</label>
                                                 <div class="col-sm-9">
                                                     <input type="text" class="form-control" th:field="*{amount}" id="due"
                                                            placeholder="Due Amount">
                                                 </div>
                                             </div>

                                            <!--<div class="form-group row">
                                                <label for="amount" class="col-sm-3 col-form-label form-label">Amount</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="*{amount}" id="amount"
                                                           placeholder="Amount">
                                                </div>
                                            </div>-->





                                            <div class="form-group row">
                                                <div class="col-sm-9">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>